<h2>Abteilung hinzufügen</h2>
<div ng-controller="DepartmentCtrl as ctrl">
    <form name="departmentForm" ng-submit="ctrl.submitDepartment()" novalidate>
        <table>
            <tr>
                <td>Name:</td>
                <td>
                    <input placeholder="Name" name="name" type="text" ng-model="ctrl.createableDepartment.name"
                           required>
                     <span style="color:red" ng-show="departmentForm.name.$dirty && departmentForm.name.$invalid">
                        <span ng-show="departmentForm.name.$error.required">Bitte geben Sie einen Namen ein</span>
                     </span>
                </td>
            </tr>
            <tr>
                <td>Beschreibung:</td>
                <td>
                    <textarea placeholder="Beschreibung" name="description"
                              ng-model="ctrl.createableDepartment.description" required></textarea>
                     <span style="color:red"
                           ng-show="departmentForm.description.$dirty && departmentForm.description.$invalid">
                        <span ng-show="departmentForm.description.$error.required">Bitte geben Sie eine Beschreibung ein</span>
                     </span>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <a href="#/departments" type="submit" ng-click="ctrl.submitDepartment()"
                       class="btn btn-default btn-sm" ng-disabled="departmentForm.$invalid">Speichern</a>
                    <!--<input type="submit"  value="Speichern" ng-disabled="departmentForm.$invalid">-->

                </td>
            </tr>
        </table>
    </form>
</div>