<html>
<head>
    <title>Auszubildenden hinzufügen</title>


</head>
<body>

<h2>Auszubildenden hinzufügen</h2>
<div ng-controller="TraineeCtrl as ctrl">

    <form name="traineeForm" novalidate>
        <table>
            <tr>
                <td>Vorname:</td>
                <td><input name="firstname" type="text" ng-model="firstName" required>
                     <span style="color:red" ng-show="traineeForm.firstname.$dirty && traineeForm.firstname.$invalid">
                        <span ng-show="traineeForm.firstname.$error.required">Bitte geben Sie einen Vornamen ein</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>Nachname:</td>
                <td><input name="lastname" type="text" ng-model="lastName" required>
                     <span style="color:red" ng-show="traineeForm.lastname.$dirty && traineeForm.lastname.$invalid">
                        <span ng-show="traineeForm.lastname.$error.required">Bitte geben Sie einen Nachnamen ein</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>Geburtsdatum</td>
                <td><input name="birthday" type="date" ng-model="birthday" required>
                     <span style="color:red" ng-show="traineeForm.birthday.$dirty && traineeForm.birthday.$invalid">
                        <span ng-show="traineeForm.birthday.$error.required">Bitte geben Sie ein Geburtsdatum ein</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>Ausbildungsanfang</td>
                <td><input name="start_of_training" type="date" ng-model="start_of_training" required>
                     <span style="color:red"
                           ng-show="traineeForm.start_of_training.$dirty && traineeForm.start_of_training.$invalid">
                        <span ng-show="traineeForm.start_of_training.$error.required">Bitte geben Sie das Datum des Ausbildungsanfangs ein</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>Job</td>
                <td><select name="job" ng-model="job" required size="1">
                    <option>Dualer Student Anwendungsentwicklung</option>
                    <option>Dualer Student BWL</option>
                    <option>Dualer Student Systemintegration</option>
                    <option>Fachinformatiker Anwendungsentwicklung</option>
                    <option>Fachinformatiker Systemintegration</option>
                    <option>IT-Systemkaufmann</option>
                </select>
                     <span style="color:red" ng-show="traineeForm.job.$dirty && traineeForm.job.$invalid">
                        <span ng-show="traineeForm.job.$error.required">Bitte wählen Sie eine Option aus</span>
                     </span>
                </td>
            </tr>

            <tr ng-controller="DepartmentCtrl as dctrl">
                <td>Abteilung</td>
                <td><select name="selectedDepartmentId" ng-model="selectedDepartmentId" ng-init="selectedDepartmentId=departments[1]">
                    <option ng:repeat="department in dctrl.departments" value="{{department.id}}">{{department.name}}</option>
                </select>
                    </input>
                     <span style="color:red" ng-show="traineeForm.selectedDepartmentId.$dirty && traineeForm.selectedDepartmentId.$invalid">
                        <span ng-show="traineeForm.selectedDepartmentId.$error.required">Bitte wählen Sie eine Abteilung aus</span>
                     </span>
                </td>
            </tr>

            <tr ng-controller="LocationCtrl as lctrl">
                <td>Standort</td>
                <td><select name="selectedLocationId" ng-model="selectedLocationId" ng-init="selectedLocationId=locations[1]">
                    <option ng:repeat="location in lctrl.locations" value="{{location.id}}">{{location.name}}</option>
                </select>
                     <span style="color:red" ng-show="traineeForm.selectedLocationId.$dirty && traineeForm.selectedLocationId.$invalid">
                        <span ng-show="traineeForm.selectedLocationId.$error.required">Bitte wählen Sie einen Standort aus</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>
                    <button ng-click="reset()">Zurücksetzen</button>
                </td>
                <td>
                    <button ng-disabled="traineeForm.firstname.$dirty &&
                        traineeForm.firstname.$invalid || traineeForm.lastname.$dirty &&
                        traineeForm.lastname.$invalid || traineeForm.birthday.$dirty &&
                        traineeForm.birthday.$invalid || traineeForm.start_of_training.$dirty &&
                        traineeForm.start_of_training.$invalid || traineeForm.job.$dirty &&
                        traineeForm.job.$invalid || traineeForm.selectedDepartmentId.$dirty &&
                        traineeForm.selectedDepartmentId.$invalid || traineeForm.selectedLocationId.$dirty &&
                        traineeForm.selectedLocationId.$invalid" ng-click="submit()">Speichern
                    </button>
                </td>
            </tr>

        </table>
    </form>
</div>

</body>
</html>