
<h2>Auszubildenden hinzufügen</h2>
<div ng-controller="TraineeCtrl as ctrl">
    <form class="form-horizontal " name="traineeForm" ng-submit="ctrl.submitTrainee()" novalidate>
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 control-label">Vorname</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="firstname" id="inputFirstName"
                       ng-model="ctrl.createableTrainee.forename" aria-describedby="firstNameErr" placeholder="Vorname"
                       required>
                <span style="color: red" ng-show="skillForm.firstname.$dirty&&skillForm.firstname.$error.required"
                      id="firstNameErr" class="help-block ">Bitte geben Sie einen Vornamen ein!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName" class="col-sm-2 control-label">Nachname</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="lastname" id="inputLastName"
                       ng-model="ctrl.createableTrainee.lastName" aria-describedby="lastNameErr" placeholder="Nachname"
                       required>
                <span style="color: red" ng-show="skillForm.lastname.$dirty&&skillForm.lastname.$error.required"
                      id="lastNameErr" class="help-block ">Bitte geben Sie einen Nachnamen ein!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputBirthdate" class="col-sm-2 control-label">Geburtsdatum</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" name="birthday" id="inputBirthdate"
                       ng-model="ctrl.createableTrainee.birthday" aria-describedby="birthdayErr" required>
                <span style="color: red" ng-show="skillForm.birthday.$dirty&&skillForm.birthday.$error.required"
                      id="birthdayErr" class="help-block ">Bitte geben Sie ein Geburtsdatum ein!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputStart_of_training" class="col-sm-2 control-label">Ausbildungsanfang</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" name="start_of_training" id="inputStart_of_training"
                       ng-model="ctrl.createableTrainee.start_of_training" aria-describedby="startErr" required>
                <span style="color: red"
                      ng-show="skillForm.start_of_training.$dirty&&skillForm.start_of_training.$error.required"
                      id="startErr" class="help-block ">Bitte geben Sie ein Anfangsdatum ein!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="selectJob" class="col-sm-2 control-label">Job</label>
            <div class="col-sm-5">
                <select id="selectJob" class="form-control" name="jobName" ng-model="ctrl.createableTrainee.jobOrdinal"
                        required>
                    <option value="">---Bitte Job wählen---</option>
                    <option value="0">Dualer Student - Anwendungsentwicklung</option>
                    <option value="1">Dualer Student - BWL</option>
                    <option value="2">Dualer Student - Systemintegration</option>
                    <option value="3">Fachinformatiker - Anwendungsentwicklung</option>
                    <option value="4">Fachinformatiker Systemintegration</option>
                    <option value="5">IT-Systemkaufmann</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-controller="DepartmentCtrl as dctrl">
            <label for="selectDepartment" class="col-sm-2 control-label">Abteilung</label>
            <div class="col-sm-5">
                <select id="selectDepartment" class="form-control" name="department"
                        ng-model="ctrl.createableTrainee.departmentId"
                        ng-options="department.id as department.name for department in dctrl.departments" required>
                    <option value="">---Bitte Abteilung wählen---</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-controller="LocationCtrl as lctrl">
            <label for="selectLocation" class="col-sm-2 control-label">Standort</label>
            <div class="col-sm-5">
                <select id="selectLocation" class="form-control" name="location"
                        ng-model="ctrl.createableTrainee.locationId"
                        ng-options="location.id as location.name for location in lctrl.locations" required>
                    <option value="">---Bitte Standort wählen---</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-controller="SkillCtrl as sctrl">
            <label for="selectSkills" class="col-sm-2 control-label">Skills</label>
            <div class="col-sm-5">
                <select id="selectSkills" class="form-control" name="skills" ng-model="ctrl.createableTrainee.skillIds"
                        ng-options="skill.id as skill.name for skill in sctrl.skills" required multiple="multiple">
                </select>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <a href="#/trainees" type="submit" ng-click="ctrl.submitTrainee()" class="btn btn-default btn-sm"
                   ng-disabled="traineeForm.$invalid">Speichern</a>
            </div>
        </div>



    </form>
</div>
