

<h2>Auszubildenden hinzufügen</h2>
<div ng-controller="TraineeCtrl as ctrl">

    <form name="traineeForm" ng-submit="ctrl.submitTrainee()" novalidate>
        <table>
            <tr>
                <td>Vorname:</td>
                <td><input name="firstname" type="text" ng-model="ctrl.createableTrainee.forename" required>
                     <span style="color:red" ng-show="traineeForm.firstname.$dirty && traineeForm.firstname.$invalid">
                        <span ng-show="traineeForm.firstname.$error.required">Bitte geben Sie einen Vornamen ein</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>Nachname:</td>
                <td><input name="lastname" type="text" class="text" ng-model="ctrl.createableTrainee.lastName" required>
                     <span style="color:red" ng-show="traineeForm.lastname.$dirty && traineeForm.lastname.$invalid">
                        <span ng-show="traineeForm.lastname.$error.required">Bitte geben Sie einen Nachnamen ein</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>Geburtsdatum:</td>
                <td><input name="birthday" type="date" ng-model="ctrl.createableTrainee.birthday" required>
                     <span style="color:red" ng-show="traineeForm.birthday.$dirty && traineeForm.birthday.$invalid">
                        <span ng-show="traineeForm.birthday.$error.required">Bitte geben Sie ein Geburtsdatum ein</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>Ausbildungsanfang:</td>
                <td><input name="start_of_training" type="date" ng-model="ctrl.createableTrainee.start_of_training"
                           required>
                     <span style="color:red"
                           ng-show="traineeForm.start_of_training.$dirty && traineeForm.start_of_training.$invalid">
                        <span ng-show="traineeForm.start_of_training.$error.required">Bitte geben Sie das Datum des Ausbildungsanfangs ein</span>
                     </span>
                </td>
            </tr>

            <tr>
                <td>Job:</td>
                <td><select name="jobName" ng-model="ctrl.createableTrainee.jobOrdinal" required>
                    <option value="">---Bitte Job wählen---</option>
                    <option value="0">Dualer Student - Anwendungsentwicklung</option>
                    <option value="1">Dualer Student - BWL</option>
                    <option value="2">Dualer Student - Systemintegration</option>
                    <option value="3">Fachinformatiker - Anwendungsentwicklung</option>
                    <option value="4">Fachinformatiker Systemintegration</option>
                    <option value="5">IT-Systemkaufmann</option>
                </select>
                     <span style="color:red" ng-show="traineeForm.jobName.$dirty && traineeForm.jobName.$invalid">
                        <span ng-show="traineeForm.jobName.$error.required">Bitte wählen Sie eine Option aus</span>
                     </span>
                </td>
            </tr>

            <tr ng-controller="DepartmentCtrl as dctrl">
                <td>Abteilung:</td>
                <td><select ng-init="ctrl.createableTrainee.departmentId=department[0].id"
                            ng-options="department.id as department.name for department in dctrl.departments"
                            name="selectedDepartmentId" ng-model="ctrl.createableTrainee.departmentId"
                            required>
                    <option value="">---Bitte Abteilung wählen---</option>
                </select>

                     <span style="color:red"
                           ng-show="traineeForm.selectedDepartmentId.$dirty && traineeForm.selectedDepartmentId.$invalid">
                        <span ng-show="traineeForm.selectedDepartmentId.$error.required">Bitte wählen Sie eine Abteilung aus</span>
                     </span>
                </td>
            </tr>

            <tr ng-controller="LocationCtrl as lctrl">
                <td>Standort:</td>
                <td><select name="selectedLocationId" ng-model="ctrl.createableTrainee.locationId"
                            ng-options="location.id as location.name for location in lctrl.locations" required>
                    <option value="">---Bitte Standort wählen---</option>
                </select>
                     <span style="color:red"
                           ng-show="traineeForm.selectedLocationId.$dirty && traineeForm.selectedLocationId.$invalid">
                        <span ng-show="traineeForm.selectedLocationId.$error.required">Bitte wählen Sie einen Standort aus</span>
                     </span>
                </td>
            </tr>
            <tr ng-controller="SkillCtrl as sctrl">
                <td>Skills:</td>
                <td>

                    <select name="selectSkills" class="form-control" ng-model="ctrl.createableTrainee.skillIds" multiple>
                        <option ng:repeat="skill in sctrl.skills" value="{{skill.id}}">{{skill.name}}</option>
                    </select>

                </td>
            </tr>

            <tr>
                <td>

                </td>
                <td>

                    <a href="#/trainees" type="submit" ng-click="ctrl.submitTrainee()" class="btn btn-default btn-sm" ng-disabled="traineeForm.$invalid">Speichern</a>


                </td>
            </tr>

        </table>
    </form>
</div>
