.button {
    background-color: cornflowerblue;
    border: 2px solid darkblue;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.table-row-title {
    color: darkslategrey;
    font-size: 17px;
    font-family: "Arial Black";
}
.table-row-title2{
    color: darkslategrey;
    font-size: 13px;
    font-family: "Arial Black";
}