<div ng-controller="LocationCtrl as lctrl">

    <a href="#/locations/form" class="btn btn-default btn-sm">Standort hinzufügen</a>
    <br></br>
    <input type="checkbox" ng-model="filter">Filter aktivieren</input>

    <table style="table-layout:fixed;" class="table" ng-show="filter" title="Filter">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Straße</th>
            <th>Postleitzahl</th>
            <th>Stadt</th>
        </tr>
        <tr>
            <td><input ng-model="filter_location_id"/></td>
            <td><input ng-model="filter_location_name"/></td>
            <td><input ng-model="filter_location_street"/></td>
            <td><input ng-model="filter_location_postCode"/></td>
            <td><input ng-model="filter_location_city"/></td>
    </table>

    <table class="table" style="table-layout:fixed;">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Adresse</th>
            <th>Postleitzahl</th>
            <th>Stadt</th>

        </tr>
        <tr bgcolor="#add8e6" ng-repeat-start="location in lctrl.locations | filter:{id:filter_location_id, name: filter_location_name,
        street:filter_location_street, postCode:filter_location_postCode, city:filter_location_city}">
            <td>
                <button class="button" ng-if="location.expanded" ng-click="location.expanded = false"> -</button>
                <button class="button" ng-if="!location.expanded" ng-click="location.expanded = true"> +</button>
            </td>
            <td>{{location.id}}</td>
            <td>{{location.name}}</td>
            <td>{{location.street}}{{' '+location.houseNum}}</td>
            <td>{{location.postCode}}</td>
            <td>{{location.city}}</td>

        </tr>
        <tr ng-if="location.expanded" style="table-layout:fixed;" ng-init="lctrl.getTraineesByLocationId(location.id)" ng-show="lctrl.trainees.length">
            <th colspan="3">Auszubildende</th>
            <th colspan="1">Id</th>
            <th colspan="1">Vorname</th>
            <th colspan="1">Nachname</th>
        </tr>
        <tr ng-if="location.expanded" ng-repeat="trainee in lctrl.trainees" >
            <td colspan="2"></td>
            <td align="right">•</td>
            <td colspan="1">{{trainee.id}}</td>
            <td colspan="1">{{trainee.forename}}</td>
            <td colspan="1">{{trainee.lastName}}</td>
        </tr>
        <tr ng-if="location.expanded" ng-repeat-end="">
            <td colspan="3"><a href="#/locations/update" class="btn btn-default btn-sm">Standort bearbeiten</a></td>
            <td colspan="3"><a href="#/locations/list" ng-click="lctrl.confirmDelete(location.id)"
                               class="btn btn-default btn-sm">Standort löschen</a></td>
        </tr>
    </table>
</div>