<div ng-controller="TraineeCtrl as tctrl">
    <input type="text" placeholder="Filter" ng-model="search">
    <a href="#/trainees/form" class="btn btn-default btn-sm">Auszubildenden hinzufügen</a>

    <table class="table">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>Geburtsdatum</th>
            <th>Job</th>
            <th>Ausbildungsanfang</th>
        </tr>
        <tr bgcolor="#add8e6" ng-repeat-start="trainee in tctrl.trainees | filter:search">
            <td>
                <button class="button" ng-if="trainee.expanded" ng-click="trainee.expanded = false"> -</button>
                <button class="button" ng-if="!trainee.expanded" ng-click="trainee.expanded = true"> +</button>
            </td>
            <td>{{trainee.id}}</td>
            <td>{{trainee.lastName}}</td>
            <td>{{trainee.forename}}</td>
            <td>{{trainee.birthday | date:'dd.MM.yyyy'}}</td>
            <td>{{trainee.jobName}}</td>
            <td>{{trainee.start_of_training | date:'dd.MM.yyyy'}}</td>
        </tr>
        <tr ng-if="trainee.expanded">
            <td colspan="3" ><span class="table-row-title">Arbeitsplatz</span></td>
            <td colspan="2"><span class="table-row-title2">Standort</span></td>
            <td colspan="3"><span class="table-row-title2">Abteilung</span></td>
        </tr>
        <tr ng-if="trainee.expanded"
            ng-init="tctrl.getSkillsByTraineeId(trainee.id);tctrl.getSingleTrainee(trainee.id)">
            <td colspan="3"></td>
            <td colspan="2">{{tctrl.trainee.locationName}}</td>
            <td colspan="3">{{tctrl.trainee.departmentName}}</td>
        </tr>
        <tr ng-if="trainee.expanded">
            <td colspan="3" ><span class="table-row-title">Skills</span></td>
            <td colspan="2"><span class="table-row-title2">Bezeichnung</span></td>
            <td colspan="3"><span class="table-row-title2">Beschreibung</span></td>
        </tr>
        <tr ng-if="trainee.expanded" ng-repeat="skill in tctrl.traineeskills" ng-repeat-end="">
            <td colspan="2"></td>
            <td align="right">•</td>
            <td colspan="2">{{skill.name}}</td>
            <td colspan="3">{{skill.description}}</td>
        </tr>
    </table>
</div>









