<h2>Detailansicht: Standort {{ctrl.location.name}}</h2>
<b></b>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Straße</th>
        <th>Hausnummer</th>
        <th>Postleitzahl</th>
        <th>Stadt</th>
    </tr>
    <tr>
        <td>{{ctrl.location.id}}</td>
        <td>{{ctrl.location.name}}</td>
        <td>{{ctrl.location.street}}</td>
        <td>{{ctrl.location.houseNum}}</td>
        <td>{{ctrl.location.postCode}}</td>
        <td>{{ctrl.location.city}}</td>
    </tr>
</table>