<div ng-init="boolean=false">
    <h2>Detailansicht: Auszubildender</h2>
    <b></b>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>Geburtsdatum</th>
            <th>Ausbildungsanfang</th>
            <th>Abteilung</th>
            <th>Standort</th>
            <th>Job</th>

        </tr>
        <tr>
            <td>{{ctrl.trainee.id}}</td>
            <td>{{ctrl.trainee.lastName}}</td>
            <td>{{ctrl.trainee.forename}}</td>
            <td>{{ctrl.trainee.birthday | date:'dd.MM.yyyy'}}</td>
            <td>{{ctrl.trainee.start_of_training | date:'dd.MM.yyyy'}}</td>
            <td>{{ctrl.trainee.departmentName}}</td>
            <td>{{ctrl.trainee.locationName}}</td>
            <td>{{ctrl.trainee.jobName}}</td>

        </tr>
    </table>

    <br/>
    <input type="checkbox" class="btn btn-default btn-sm"
           ng-click="ctrl.getSkillsByTraineeId(ctrl.trainee.id);boolean=true">Skills anzeigen</input>
    <br/>

    <div ng-if="boolean=true">
        <h4>Skills</h4>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Bezeichnung</th>
                <th>Beschreibung</th>
            </tr>
            <tr ng-repeat="skill in ctrl.traineeskills">
                <td>{{skill.id}}</td>
                <td>{{skill.name}}</td>
                <td>{{skill.description}}</td>
            </tr>
        </table>
    </div>
</div>