<br>
<h2>Detailansicht: Auszubildender</h2>
<b></b>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Geburtsdatum</th>
        <th>Ausbildungsanfang</th>
        <th>Abteilung</th>
        <th>Standort</th>
        <th>Job</th>

    </tr>
    <tr>
        <td>{{tctrl.trainee.id}}</td>
        <td>{{tctrl.trainee.lastName}}</td>
        <td>{{tctrl.trainee.forename}}</td>
        <td>{{tctrl.trainee.birthday | date:'dd.MM.yyyy'}}</td>
        <td>{{tctrl.trainee.start_of_training | date:'dd.MM.yyyy'}}</td>
        <td>{{tctrl.trainee.departmentName}}</td>
        <td>{{tctrl.trainee.locationName}}</td>
        <td>{{tctrl.trainee.jobName}}</td>
    </tr>
</table>
<br/>
<div>
    <h4>Skills</h4>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Bezeichnung</th>
            <th>Beschreibung</th>
        </tr>
        <tr ng-repeat="skill in tctrl.traineeskills">
            <td>{{skill.id}}</td>
            <td>{{skill.name}}</td>
            <td>{{skill.description}}</td>
        </tr>
    </table>
</div>
